.resume__work-experience__company-header {
  display: flex;
  flex-direction: row;
}

.resume__work-experience__company {
  width: 83.33%;
  flex: 0 0 auto;
}

.resume__work-experience__year-container {
  width: 16.67%;
  flex: 0 0 auto;
}

.resume__work-experience__parent_ul {
  margin-left: 1rem;
  margin-top: 1rem !important;
}

.resume__work-experience__li {
  margin-top: 1rem !important;
}