.resume__work-experience__company-header {
  display: flex;
  flex-direction: column;
}

.resume__work-experience__company {
  width: 100%;
}

.resume__work-experience__year-container {
  width: 100%
}

.resume__work-experience__parent_ul {
  margin-left: 1rem;
  margin-top: 1rem !important;
}

.resume__work-experience__li {
  margin-top: 1rem !important;
}