.what-i-do__container {
  margin-left: 1rem;
  margin-top: 3rem;
}

.technical-skills__break {
  flex-basis: 0;
  height: 0;
}

.technical-skills__card__body {
  padding: 0 !important;
}

.technical-skills__card {
  margin-top: 2rem;
}