html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  min-height: 100% !important;
}

#__next {
  min-height: 100% !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  align-self: end;
  width: 100vw;
  display: flex;
  margin-top: auto;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.__flag-icon {
  margin-right: 1rem;
}
 
.__full-height {
  min-height: 100%;
}

.__dark-div {
  background-color: black !important;
  color: rgb(204, 204, 204) !important;
}

.articles__container .articles__card .card-img-top {
  width: 100%;
  height: 210px;
}

.resume__icon {
  font-size: 24px;
  padding-right: 8px;
}

.resume__header {
  padding-top: 2rem;
}

.__dark-mode-toggle-nav button {
  margin-right: 1rem;
}

.projects__badge {
  margin-right: 1rem;
}

.__no-left-padding {
  padding-left: 0 !important;
}

.list-group-item {
  border: none !important;
}

.timeline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
}

.show-more-container {
  .show-more-button:hover {
    cursor: pointer !important;
  }

  .show-more-content-container-dark {
    background: rgb(33, 150, 243) !important;
    color: #ccc !important;
    margin-top: 1rem !important;
  }

  .show-more-content-container-light {
    background: #ccc !important;
    color: #000 !important;
    margin-top: 1rem !important;
  }

  .show-more-button-div {
    padding: 0 !important;
  }
}

@import './mobile/index.scss';
@import './tablets/index.scss';
@import './pc/index.scss';
@import 'react-vertical-timeline-component/style.min.css';